# Eclipse
.classpath
.project
.settings

# /
/.cvsignore
/.tomcatplugin
/work
/.gwt-cache
/.externalToolBuilders
/extras

uitest/src/main/themes/VAADIN/themes/**/styles.css
test/servlet-containers/karaf/vaadin-karaf-bundle1/src/main/resources/VAADIN/themes/karaftesttheme/styles.css

# Persisted scss cache files
uitest/src/main/themes/VAADIN/themes/**/styles.scss.cache

# /build/
/build/result
/build/gwt
/build/checkout
/build/classes
/build/test-output
/build/integration-test-output
/build/buildhelpers/com/vaadin/buildhelpers/*.class

# /tests/
/tests/junit*.properties

# /bin/
/bin

# Mac
*.DS_Store

# Python
scripts/*.pyc

# build result folders
*/result
result
target/
all/target/
push/target/
shared/target/
server/target/
client/target/
client-compiler/target/
buildhelpers/target/
client-compiled/target/
liferay/target/
themes/target/
uitest/target/
widgets/target/

.sass-cache
phantomjsdriver.log

*.iml
.idea

*/.checkstyle

# TB default error screenshot folder
error-screenshots/
.vscode/settings.json
.project
.flattened-pom.xml
all/.flattened-pom.xml
buildhelpers/.flattened-pom.xml
client/.flattened-pom.xml
client-compiled/.flattened-pom.xml
client-compiler/.flattened-pom.xml
compatibility-client/.flattened-pom.xml
compatibility-client-compiled/.flattened-pom.xml
compatibility-server/.flattened-pom.xml
compatibility-server-gae/.flattened-pom.xml
compatibility-shared/.flattened-pom.xml
compatibility-themes/.flattened-pom.xml
liferay/.flattened-pom.xml
liferay-integration/.flattened-pom.xml
osgi-integration/.flattened-pom.xml
push/.flattened-pom.xml
server/.flattened-pom.xml
shared/.flattened-pom.xml
testbench-api/.flattened-pom.xml
themes/.flattened-pom.xml
uitest/.flattened-pom.xml
